@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>(877)479-6262</h4>
<address>
    Northern Utah Area <br />
    of Narcotics Anonymous<br />
    PO BOX 3222<br />
    Ogden, UT 84409<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:webmaster@northernutahna.org">
        <img src="~/Content/email_image.PNG" />
    </a><br />
</address>