
@{
    ViewBag.Title = "GettingStarted";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p style="padding: 0 2% 0 2%; text-align:justify">
    Get started in N.A. by attending a meeting
    in your area. Introduce yourself to the group
    you choose to attend so they can get to know you. Meeting
    new people that are involved with recovery can be 
    imperative for new comers trying to get and stay clean. 
    Today is the day. Do yourself a favor and take the next step to see
    what it is all about. Meetings for the Northern Utah Area
    are listed on the "Meetings" link at the top of the page.
    If you live in a different area select the "About" tab
    at the top of the page and you will find links to additional
    websites for other areas
</p>