
@{
    ViewBag.Title = "GettingStarted";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p style="padding: 0 2% 0 2%; text-align:justify">
    Get started in Narcotics Anonymous by attending a meeting 
    in your area. Feel free to introduce yourself to the group 
    you choose to attend. Meeting new people that are involved
     with recovery can be imperative for new comers trying to 
    get and stay clean. Today is the day. Take the step and see 
    what it is all about. Meetings for the Northern Utah Area 
    are listed on the "Meetings" link at the top of the page. 
    If you live in a different area; by select the "About" tab 
    at the top of the page you will find links to additional 
    websites that list meetings for other areas.
</p>