@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Narcotics Anonymous in Utah</h1>
    <p class="lead">A nonprofit fellowship or society of men and women for whom drugs had become a major problem</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p style="text-align:justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Get started in Narcotics Anonymous by attending a meeting in your area. 
            Meetings for the Northern Utah Area are listed on the "Meetings" link 
            at the top of the page. If you live in a different area, select the "About" 
            tab at the top of the page...
        </p>
        <p><a class="btn btn-default" href="/Home/GettingStarted">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meetings</h2>
        <p style="text-align:justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            A Narcotics Anonymous meeting is where recovering addicts
            meet regularly for the purpose of recovery from the disease of
            addiction. Most meetings in Northern Utah are open topic where
            people share about their experience...
        </p>
        <p><a class="btn btn-default" href="/Meeting/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Announcements</h2>
        <p style="text-align:justify">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            It’s time to get involved! Check out Announcements for upcoming
            events and service positions. This page is updated regularly to help
            you stay connected. If you would like to post an NA related announcement
            email us on the contact page.
        </p>
        <p><a class="btn btn-default" href="/Announcement/Index">Learn more &raquo;</a></p>
    </div>
</div>